[bumpver]
current_version = "0.18.1"
version_pattern = "MAJOR.MINOR.PATCH[TAG]"
commit_message = "Release {new_version}"
tag_message = "{new_version}"
tag_scope = "default"
pre_commit_hook = "./.pre-commit/build-assets-and-add.sh"
commit = true
tag = true
push = true

[bumpver.file_patterns]
"package.json" = [
    '"version": "{version}",',
]
"bumpver.toml" = [
    'current_version = "{version}"',
]
"src/utils.js" = [
    'export const CLIENT_VERSION = "{version}";',
]
