#readthedocs-external-version-warning {
  all: unset;
  z-index: 1500;
}

#readthedocs-external-version-warning
  .readthedocs-external-version-warning-shadow {
  height: 12em;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(175, 175, 175, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: inherit;
}

#readthedocs-external-version-warning
  .readthedocs-external-version-warning-container {
  color: #404040;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset,
    0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  z-index: 1750;
  border-radius: 0.5rem;
  min-height: 50px;
  position: fixed;
  text-align: center;
  top: 25px;
  background-color: rgb(234, 234, 234);
  left: 20%; /* (100 - width) / 2 */
  width: 60%;
  font-size: 16px;
  font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
}

#readthedocs-external-version-warning a {
  color: #088cdb;
  text-decoration: none;
}

#readthedocs-external-version-warning a:hover {
  background-color: inherit;
  text-shadow: none;
}

#readthedocs-external-version-warning p {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  line-weight: 24px;
}

#readthedocs-external-version-warning
  .readthedocs-external-version-warning-title {
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
  height: 25px;
  background-color: rgb(190, 190, 190);
}

#readthedocs-external-version-warning
  .readthedocs-external-version-warning-title
  p {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  color: white;
}

#readthedocs-external-version-warning
  .readthedocs-external-version-warning-close-icon {
  float: right;
  margin: 5px 10px;
  cursor: pointer;
  padding: 0;
  color: white;
}
