#readthedocs-external-version-warning:hover {
  opacity: 0.95;
}

#readthedocs-external-version-warning {
  color: #404040;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset,
    0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  z-index: 999;
  border-radius: 0.25rem;
  min-height: 50px;
  position: fixed;
  display: inline-block;
  opacity: 0.75;
  background: #f0b37e;
  text-align: center;
  top: 25px;
  left: 5%; /* (100 - width) / 2 */
  width: 90%;
  padding: 5px;
  font-size: 16px;
  font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
}

#readthedocs-external-version-warning p {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  line-weight: 24px;
}

#readthedocs-external-version-warning svg.close {
  display: inline-block;
  position: absolute;
  right: 25px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
}

#readthedocs-external-version-warning svg.warning {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
