/* Using --addons-* prefix variables for consistency and to allow for overrides */
:host {
  --addons-filetreediff-background-color: var(
    --readthedocs-filetreediff-background-color,
    #f8f9fa
  );
  --addons-filetreediff-border-color: var(
    --readthedocs-filetreediff-border-color,
    #ddd
  );
  --addons-filetreediff-font-size: var(
    --readthedocs-filetreediff-font-size,
    0.85rem
  );
  --addons-filetreediff-label-color: var(
    --readthedocs-filetreediff-label-color,
    #333
  );
}

:host > div {
  position: fixed;
  top: 0;
  right: 1rem;
  background-color: var(--addons-filetreediff-background-color);
  padding: 0.25rem 0.75rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 2000;
  border-radius: 0 0 0.375rem 0.375rem;
  font-size: var(--addons-filetreediff-font-size);
}

:host > div > div {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

:host > div > div > select {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border: 0.06rem solid var(--addons-filetreediff-border-color);
  border-radius: 0.25rem;
  appearance: revert;
}

:host > div > div > label {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: var(--addons-filetreediff-font-size);
  color: var(--addons-filetreediff-label-color);
  white-space: nowrap;
  cursor: pointer;
}

:host > div > div > label > input {
  margin: 0;
}

:host > div > div > span {
  display: flex;
  width: 0.5rem;
  cursor: pointer;
}
