/* Using --addons-* prefix variables for consistency and to allow for overrides */
:host {
  --addons-filetreediff-color: var(
    --readthedocs-filetreediff-color,
    rgb(252, 252, 252)
  );
  --addons-filetreediff-background-color: var(
    --readthedocs-filetreediff-background-color,
    rgb(39, 39, 37)
  );
  --addons-filetreediff-border-color: var(
    --readthedocs-filetreediff-border-color,
    #ddd
  );
  --addons-filetreediff-font-size: var(
    --readthedocs-filetreediff-font-size,
    0.85rem
  );
  --addons-filetreediff-label-color: var(
    --readthedocs-filetreediff-label-color,
    #333
  );
}

:host > div {
  position: fixed;
  top: 0;
  right: 1rem;
  color: var(--addons-filetreediff-color);
  background-color: var(--addons-filetreediff-background-color);
  padding: 0.25rem 0.75rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 2000;
  border-radius: 0 0 0.375rem 0.375rem;
  font-size: var(--addons-filetreediff-font-size);
}

:host > div > div {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

:host > div > div > select {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border: 0;
  color: var(--addons-filetreediff-color);
  background-color: var(--addons-filetreediff-background-color);
  border-radius: 0.25rem;
  appearance: revert;
}

:host > div > div > label {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  white-space: nowrap;
  cursor: pointer;
}

:host > div > div > label > input {
  margin: 0;
}

:host > div > div > span:not(.chunks) {
  display: flex;
  width: 0.5rem;
  cursor: pointer;
}

:host > div > div > span.chunks {
  color: var(--readthedocs-filetreediff-chunks-color, #27ae60);
  font-weight: bold;
  display: flex;
  min-width: 2.5rem;
}

/* Expand to full width on smaller screens */
@media (max-width: 700px) {
  :host > div {
    width: calc(100% - 1rem);
    margin: 0;
    right: 0;
    border-radius: 0;
    padding: 0.5rem;
  }

  :host > div > div > select {
    width: 100%;
    border: 0;
  }
}
