/* New */

.container {
  position: fixed;
  max-width: 300px;
  width: auto;
  height: auto;
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.container.bottom-right {
  right: 20px;
  bottom: 50px;
}

.container.bottom-left {
  left: 20px;
  bottom: 50px;
}

.container.top-left {
  left: 20px;
  top: 50px;
}

.container.top-right {
  right: 20px;
  top: 50px;
}

:host {
  --addons-flyout-font-size: var(
    --readthedocs-flyout-font-size,
    var(--readthedocs-font-size, 0.8rem)
  );
}

:host > div {
  font-family: var(
    --readthedocs-flyout-font-family,
    "Lato",
    "proxima-nova",
    "Helvetica Neue",
    "Arial",
    "sans-serif"
  );
  font-size: var(--addons-flyout-font-size);
  color: var(--readthedocs-flyout-color, rgb(128, 128, 128));
  background-color: var(--readthedocs-flyout-background-color, rgb(39, 39, 37));
  z-index: 3000;
  padding: 0 10px;
  overflow-y: auto;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--readthedocs-flyout-background-color, rgb(39, 39, 37));
  position: sticky;
  top: 0;
  padding: 10px 0;
}

header > span {
  color: var(--readthedocs-flyout-current-version-color, #27ae60);
  font-size: var(
    --readthedocs-flyout-header-font-size,
    calc(var(--addons-flyout-font-size) * 1.125)
  );
  margin-left: 10px;
}

header > span svg.icon {
  color: rgb(128, 128, 128);
  height: var(
    --readthedocs-flyout-header-font-size,
    calc(var(--addons-flyout-font-size) * 1.125)
  );
  padding-right: 5px;
  vertical-align: middle;
}

header > img.logo {
  text-align: center;
  max-width: 106px;
  max-height: 22px;
  margin-right: 10px;
}

main {
  padding: 5px;
  padding-bottom: 15px;
  margin-top: 5px;
}

main.closed {
  display: none;
}

dl {
  margin: 0;
  padding: 0;
}

dl > dt {
  font-size: var(
    --readthedocs-flyout-dt-font-size,
    calc(var(--addons-flyout-font-size) * 1.125)
  );
  color: var(--readthedocs-flyout-section-heading-color, rgb(128, 128, 128));
}

dl > dd {
  display: inline-block;
  margin: 0;
  font-size: var(
    --readthedocs-flyout-dd-font-size,
    calc(var(--addons-flyout-font-size) * 1.125)
  );
}

dd a {
  text-decoration: none;
  color: var(--readthedocs-flyout-item-link-color, rgb(252, 252, 252));
  padding: 6px;
  display: inline-block;
}

dd form {
  padding: 6px;
  margin: 0;
}

dd input {
  padding: 6px;
  font-size: 80%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 20px 0;
  padding: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--readthedocs-flyout-divider-color, #413d3d);
}

small a {
  text-decoration: none;
  color: var(--readthedocs-flyout-link-color, rgb(42, 128, 185));
}
