/* New */

:host {
  position: fixed;
  right: 20px;
  bottom: 50px;
  max-width: 300px;
  width: auto;
  height: auto;
}

:host > div {
  font-family: var(
    --readthedocs-flyout-font-family,
    "Lato",
    "proxima-nova",
    "Helvetica Neue",
    "Arial",
    "sans-serif"
  );
  font-size: var(--readthedocs-flyout-font-size, 0.8rem);
  color: var(--readthedocs-flyout-color, rgb(128, 128, 128));
  background-color: var(
    --readthedocs-flyout-background-color,
    rgb(234, 234, 234)
  );
  z-index: 3000;
  padding: 10px;
  overflow-y: scroll;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header > span {
  color: var(--readthedocs-flyout-current-version-color, #27AE60);
  font-size: var(--readthedocs-flyout-header-font-size, 0.9rem);
}

header > img.logo {
  text-align: center;
  width: 40%;
}

main {
  padding: 5px;
  margin-top: 5px;
}

dl {
  margin: 0;
  padding: 0;
}

dl > dt {
  font-size: var(--readthedocs-flyout-dt-font-size, 0.9rem);
}

dl > dd {
  display: inline-block;
  margin: 0;
  font-size: var(--readthedocs-flyout-dd-font-size, 0.9rem);
}

dd > a {
  text-decoration: none;
  color: var(--readthedocs-flyout-item-link-color, rgb(32, 32, 32));
  padding: 6px;
  display: inline-block;
}

dd form {
  padding: 6px;
}

dd input {
  padding: 6px;
  font-size: 80%;
}

small a {
  text-decoration: none;
  color: var(--readthedocs-flyout-link-color, rgb(42, 128, 185));
}
