/* https://getbem.com/introduction/ */

#readthedocs-search {
  /* Remove all the existing CSS style to not depend on anything from the theme */
  all: unset;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  display: none;
}

#readthedocs-search .readthedocs-search-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#readthedocs-search .readthedocs-search-container {
  margin: 5rem auto auto auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  height: 60%;
  width: 60%;
  max-height: 1000px;
  max-width: 1500px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  line-height: 1.875;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 5px 5px,
    rgba(0, 0, 0, 0.05) -5px -5px 5px 5px;
  text-align: left;
}

#readthedocs-search form {
  background-color: #eaeaea;
  margin: 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  padding: 5px;
}

#readthedocs-search form label {
  display: inline-block;
  cursor: default;
  font-size: 1.3rem;
  padding-left: 10px;
  margin: 0;
}

#readthedocs-search form input {
  border: 0;
  outline: none;
  background: inherit;
  width: max-content;
  font-size: 1.3rem;
  box-shadow: none;
}

#readthedocs-search .readthedocs-search-results {
  padding: 5px;
  margin: 1rem;
  overflow-y: scroll;
  height: 100%;
  hyphens: auto;
}

#readthedocs-search .readthedocs-search-result-container {
  margin-top: 10px;
  border-bottom: 1px solid #e6e6e6;
  height: max-content;
}

#readthedocs-search .readthedocs-search-results .action {
  background-color: rgb(245, 245, 245);
}

#readthedocs-search .readthedocs-search-result-hit {
  width: 100%;
  display: inline-block;
}

#readthedocs-search .readthedocs-search-result-hit a {
  text-decoration: none;
  cursor: pointer;
}

#readthedocs-search .readthedocs-search-results h2 {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 15px;
  color: #6ea0ec;
  border-bottom: 1px solid #6ea0ec;
}

#readthedocs-search .readthedocs-search-result-hit--subheading {
  color: black;
  font-weight: 700;
  float: left;
  width: 20%;
  font-size: 15px;
  margin-right: 10px;
  overflow-x: hidden;
}

#readthedocs-search .readthedocs-search-result-hit--content {
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
  margin-bottom: 0;
  line-height: inherit;
  float: right;
  width: calc(80% - 15px);
  text-align: left;
}

#readthedocs-search .readthedocs-search-results span {
  font-style: normal;
}

#readthedocs-search .readthedocs-search-result-hit h2 span {
  background-color: #e5f6ff;
  padding-bottom: 3px;
  border-bottom-color: black;
}

#readthedocs-search .readthedocs-search-result-hit--content span {
  background-color: #e5f6ff;
  border-bottom: 1px solid black;
}

#readthedocs-search .readthedocs-search-result-hit--subheading span {
  border-bottom: 1px solid black;
}

#readthedocs-search .readthedocs-search-result-hit:hover {
    background-color: rgb(245, 245, 245);
}

#readthedocs-search .readthedocs-search-result-hit--active {
  background-color: rgb(245, 245, 245);
}

#readthedocs-search .readthedocs-search-footer {
  width: 100%;
}

#readthedocs-search .readthedocs-search-credits {
  height: 30px;
  background: #eee;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 5px;
  text-align: center;
  color: #404040;
}

#readthedocs-search .readthedocs-search-credits a {
  text-decoration: underline;
  display: inline-block;
}

#readthedocs-search .readthedocs-search-credits a img {
  display: inline-block;
  width: 125px;
}

#readthedocs-search .readthedocs-search-result-hit--domain-role {
  font-size: 80%;
  letter-spacing: 1px;
}

#readthedocs-search .readthedocs-search-filters {
  padding: 5px;
  margin: 0 1rem;
}

#readthedocs-search .readthedocs-search-filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#readthedocs-search .readthedocs-search-filters li {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#readthedocs-search .readthedocs-search-filters li label {
  border: 3px;
  padding: 3px;
}

#readthedocs-search .readthedocs-search-filters label {
  color: black;
  font-size: 15px;
  margin: auto;
}

#readthedocs-search .readthedocs-search-no-results {
  text-align: center;
  margin-top: 1rem;
  padding: 36px;
  margin: 0 auto;
  width: 80%;
}

#readthedocs-search .readthedocs-search-no-results svg {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#readthedocs-search .readthedocs-search-no-results-footer p {
  font-size: small;
}

#readthedocs-search .readthedocs-search-no-results-tips {
  padding-left: 15%;
  text-align: left;
  font-size: 15px;
  margin-bottom: 1rem;
}

#readthedocs-search .readthedocs-search-no-results-tips li {
  list-style-position: inside;
  list-style-type: "\BB  ";
}
