.tooltip {
  display: none;
  max-width: 650px;
  pointer-events: auto;
  z-index: 9999999;
  max-height: 80vh;
  min-height: 100px;
  position: absolute;
  margin-bottom: 20px;
  top: 0;
  border: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltip-content {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 18px;
}

.tooltip .arrow {
  position: absolute;
  background: #fff;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
