.toast {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.5;
    font-weight: bold;
    animation-name: spin;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}